@font-face {
    font-family: 'Lato';
    src: url(fonts/Lato/Lato-Regular.ttf);
}
@font-face {
    font-family: 'Lato Light';
    src: url(fonts/Lato/Lato-Light.ttf);
}
@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto/Roboto-Regular.ttf);
}
button {
    font-size: 200%;
    width: 40px;
}

input {
    font-size: 14px;
    height: 40px;
    text-align: right;
}