/* Fonts */
@font-face {
    font-family: 'Lato Light';
    src: url(fonts/Lato/Lato-Light.ttf);
}
@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto/Roboto-Regular.ttf);
}

/* General styles */
*,
*:after,
*:before {
    box-sizing: border-box;
}
body {
    background-color: #19647e;
    font-family: 'Lato Light';
}

/* Grid */
.container {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    padding: 0 1rem;
}
.input-container {
    padding: 0 0.8rem;
}
.button-container {
    display: flex;
}
.text-center {
    text-align: center;
}

/* Form elements */
button,
input {
    width: 100%;
    font-family: 'Roboto';
    border: 0;
    background: none;
    box-shadow: none;
    border-radius: 0px;
}
.buttons {
    margin-top: 15px;
}
button {
    padding: 5px 5px;
    font-size: 2.4rem;
    color: #ececec;
}
input {
    height: 4rem;
    padding-right: 12px;
    background-color: #ececec;
    color: #4A4843;
    font-size: 2rem;
    text-align: right;
}

/* Header */
h1 {
    font-size: 3.5rem;
    color: #ececec;
}
footer {
    position: relative;
    bottom: 0;
}
/* Links */
a {
    color: inherit;
}

a:hover {
    color: #e2e2e2;
}